@{
    ViewData["Title"] = "E-posta Doğrulandı";
}

<div class="alert alert-success mt-4 text-center">
    ✅ E-posta adresiniz doğrulandı.<br />
    <a href="/Account/Login">Giriş yapabilirsiniz</a>
</div>
