<form id="forgotBtn" method="post" data-auth-form>
    @Html.AntiForgeryToken()
    <input name="email" class="form-control" placeholder="Email" />
    <button id="forgotBtn" class="btn btn-primary mt-2">Şifre Sıfırla</button>
</form>
