@using EShopMVC.Web.ViewModels
@model ResetPasswordViewModel

<form id="resetForm"  method="post" data-auth-form>
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <input asp-for="Password" type="password" class="form-control" placeholder="Yeni Şifre" />
    <input asp-for="ConfirmPassword" type="password" class="form-control mt-2" placeholder="Şifre Tekrar" />

    <button id="resetBtn" class="btn btn-success mt-3">Şifreyi Güncelle</button>
</form>
