@using EShopMVC.Models
@using EShopMVC.Modules.Orders.Domain.Enums

@if (Model.Status == RefundStatus.Failed)
{
    <form asp-action="RetryNow"
          asp-route-id="@Model.Id"
          method="post"
          class="d-inline">
        <button class="btn btn-warning">
            Retry Now
        </button>
    </form>
}
