@using EShopMVC.Models
@model IEnumerable<Product>

@foreach (var product in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5>@product.Name</h5>
            <p>@product.UnitPrice ₺</p>

            <button class="btn btn-primary add-to-cart"
                    data-id="@product.Id">
                Sepete Ekle
            </button>
        </div>
    </div>
}
