<div class="modal Fade" id="_ProductDetailModal">
    <div class="modal-dialog">
        <div claa="nodel-context" id="productDetailContent">
            <!-- Ajax Burayı doldurur -->
        </div>
    </div>
</div>