@model EShopMVC.Models.Product

<h2>Edit Product</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Description</label>
<textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input asp-for="UnitPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <select asp-for="CategoryId"
                asp-items="ViewBag.Categories"
                class="form-control">
        </select>
    </div>

    <div class="mb-3">
        <label>Stock</label>
        <input asp-for="Stock" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Product Type</label>
        <select asp-for="ProductType" class="form-control">
            <option value="Physical">Physical</option>
            <option value="Digital">Digital</option>
        </select>
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsActive" class="form-check-input" />
        <label class="form-check-label">Active</label>
    </div>

    <button type="submit" class="btn btn-primary">
        Save Changes
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Back
    </a>

</form>