@model EShopMVC.Models.Firm

@{
    ViewData["Title"] = "Firma Ekle";
}

<h2>Yeni Üretici Firma</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label class="form-label">Firma Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Açıklama</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsActive" class="form-check-input" />
        <label class="form-check-label">Aktif</label>
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>
</form>
